{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/c035f4c5b7.js" crossorigin="anonymous"></script>
    <title>Add Users</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="main">
        <div class="container">
            <div class="vert-menu" onmouseover="toggleMenu(event)" onmouseout="toggleMenu(event)">
                <img class="logo-header" src="{% static 'images/VaiTudoAbaixo-LOGO-WHITE.png' %}" alt="Logo" width="100%">
                <div id="menu" style="display: none;">
                    <h1>BackEnd</h1>
                    <br/>
                    <div>
                        <nav class="vertical-menu">
                            <h3>Users</h3>
                            <ul>
                                <li><a href="../list_users" target="_self">Users List</a></li>
                                <li><a href="" target="_self">Register User</a></li>
                                <li><a href="../update_user" target="_self">Update User</a></li>
                                <li><a href="../delete_user" target="_self">Delete User</a></li>
                            </ul>
                            <br/>
                        </nav>
                        <h3>Articles</h3>
                        <nav class="vertical-menu">
                            <ul>
                                <li><a href="../list_articles" target="_self">Articles List</a></li>
                                <li><a href="../add_articles" target="_self">Add Article</a></li>
                                <li><a href="../search_articles" target="_self">Search Article</a></li>
                                <li><a href="../update_articles" target="_self">Update Article</a></li>
                                <li><a href="../delete_articles" target="_self">Delete Article</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Se o usuário estiver autenticado, mostre a mensagem de boas-vindas e o botão de logout -->
        <div class="horizontal-menu">
            <input type="text" class="search-bar" placeholder="Search Articles..." />
            <input class="button-search" type="button" value="">
            
            <div class="user-info">
                Welcome, {{ user.username }}! <!-- ou qualquer outro campo do usuário que deseje mostrar -->
            </div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Logout">
            </form>
        </div> 
    
    {% else %}
        <!-- Se o usuário não estiver autenticado, mostre os botões Login e Register -->
        <div class="main">
            <div class="container">
                <div class="vert-menu" onmouseover="toggleMenu(event)" onmouseout="toggleMenu(event)">
                    <img class="logo-header" src="{% static 'images/VaiTudoAbaixo-LOGO-WHITE.png' %}" alt="Logo" width="100%">
                    <div id="menu" style="display: none;">
                        <h1>BackEnd</h1>
                        <br/>
                        <div>
                            <nav class="vertical-menu">
                                <h3>Staff</h3>
                                <ul>
                                    <!-- Adicione esses links -->
                                    <li><a href="{% url 'user_login' %}" target="_self">Login</a></li>
                                    <li><a href="{% url 'regist_user' %}" target="_self">Register</a></li>
                                </ul>
                                <br/>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="horizontal-menu">
                <div class="search-container">
                </div>
                <div class="user-links">
                    <li><a href="" target="_self">Login</a></li>
                    <li><a href="../home/regist_user" target="_self">Register</a></li>
                </div>
            </div>
        </div>
    {% endif %}
    
    </div>

    <div class="div-content">
        <h1 class="titles">Register a new user</h1>
        {% if success %}
            <h2>Data inserted successfully!</h2>
            <!-- Incluir outros detalhes do usuário registrado, se necessário -->
            <br/>
        {% else %}
            <!-- Use o formulário de registro do Django -->
            <form method="post" action="{% url 'regist_user' %}"> {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register">
            </form>
        {% endif %}
        <p></p>
        <a href="{% url 'index' %}" target="_self">Back to Home</a>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
