{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/c035f4c5b7.js" crossorigin="anonymous"></script>
    <title>Update User</title>
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="vert-menu" onmouseover="toggleMenu(event)" onmouseout="toggleMenu(event)">
                <img class="logo-header" src="{% static 'images/VaiTudoAbaixo-LOGO-WHITE.png' %}" alt="Logo" width="100%">
                <div id="menu" style="display: none;">
                    <h1>BackEnd</h1>
                    <br/>
                    <div>
                        <nav class="vertical-menu">
                            <h3>Users</h3>
                            <ul>
                                <li><a href="../list_users" target="_self">Users List</a></li>
                                <li><a href="../regist_user" target="_self">Register User</a></li>
                                <li><a href="" target="_self">Update User</a></li>
                                <li><a href="../delete_user" target="_self">Delete User</a></li>
                            </ul>
                            <br/>
                        </nav>
                        <h3>Articles</h3>
                        <nav class="vertical-menu">
                            <ul>
                                <li><a href="../list_articles" target="_self">Articles List</a></li>
                                <li><a href="../add_articles" target="_self">Add Article</a></li>
                                <li><a href="../search_articles" target="_self">Search Article</a></li>
                                <li><a href="../update_articles" target="_self">Update Article</a></li>
                                <li><a href="../delete_articles" target="_self">Delete Article</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="horizontal-menu">
            <input type="text" class="search-bar" placeholder="Search Articles..." />
            <input class="button-search" type="button" value="">
            {% if user.is_authenticated %}
            <div class="user-info">
                Bem-vindo, {{ user.name }}! <!-- ou qualquer outro campo do utilizador que deseje mostrar -->
            </div>
            {% else %}
                <!-- Se o utilizador não estiver autenticado, mostre os botões Login e Register -->
                <li><a href="{% url 'user_login' %}" target="_self">Login</a></li>
                <li><a href="{% url 'register' %}" target="_self">Register</a></li>
            {% endif %}
        </div>
    
    </div>
    

    <script src="{% static 'js/script.js' %}"></script>

    <div class="div-content">
        <form id="myform" method="post" action="{% url 'crud_users/update_user.html' %}">
            {% csrf_token %}
            <p>Insert ID to update user:</p>
            <input type="text" name="id" maxlength="20" size="20" value="" placeholder="ID">
            <br/><br/>
            <hr>
            <p>Insert new data</p>
            <input type="text" name="new_name" maxlength="100" size="100" value="" placeholder="New name">
            <br/><br/>
            <input type="text" name="new_lastname" size="100" value="" placeholder="New Lastname">
            <br/><br/>
            <input type="text" name="new_email" maxlength="100" size="100" value="" placeholder="New email">
            <br/><br/>
            <input type="submit" value="Update">
        </form>
        <p></p>
        <a href=".." target="_self">Back to home</a>
    </div>
</body>
</html>
