{% load static %}

<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/c035f4c5b7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <title>Delete Article</title>
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="vert-menu" onmouseover="toggleMenu(event)" onmouseout="toggleMenu(event)">
                <img class="logo-header" src="{% static 'images/VaiTudoAbaixo-LOGO-WHITE.png' %}" alt="Logo" width="100%">
                <div id="menu" style="display: none;">
                    <h1>BackEnd</h1>
                    <br/>
                    <div>
                        <nav class="vertical-menu">
                            <h3>Users</h3>
                            <ul>
                                <li><a href="../list_users" target="_self">Users List</a></li>
                                <li><a href="../regist_user" target="_self">Register User</a></li>
                                <li><a href="../update_user" target="_self">Update User</a></li>
                                <li><a href="../delete_user" target="_self">Delete User</a></li>
                            </ul>
                            <br/>
                        </nav>
                        <h3>Articles</h3>
                        <nav class="vertical-menu">
                            <ul>
                                <li><a href="../list_articles" target="_self">Articles List</a></li>
                                <li><a href="../add_articles" target="_self">Add Article</a></li>
                                <li><a href="../search_articles" target="_self">Search Article</a></li>
                                <li><a href="../update_articles" target="_self">Update Article</a></li>
                                <li><a href="" target="_self">Delete Article</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="horizontal-menu">
            <input type="text" class="search-bar" placeholder="Search Articles..." />
            <input class="button-search" type="button" value="">
            <li><a href="../../" target="_self">Login</a></li>
            <li><a href="../regist_user" target="_self">Register</a></li>
            
        </div>
        </div>

    <div class="div-content">
        {% if not_found %}
            <p>The article with ID {{ article_id }} was not found.</p>
        {% else %}
            <p>The article with ID  {{ article_id }} was delete with sucess!</p>
        {% endif %}
        
        <form method="post" action="{% url 'crud_items/delete_article.html' %}">
            {% csrf_token %}
            <label for="id">Articles ID to be deleted:</label>
            <input type="text" id="id" name="id" required>
            <button type="submit">Delete Article</button>
        </form>
        <p></p>
        <a href=".." target="_self">Back to home</a>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
