{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/c035f4c5b7.js" crossorigin="anonymous"></script>
    <title>Articles List</title>
</head>

<div class="main">
    <div class="container">
        <div class="vert-menu" onmouseover="toggleMenu(event)" onmouseout="toggleMenu(event)">
            <img class="logo-header" src="{% static 'images/VaiTudoAbaixo-LOGO-WHITE.png' %}" alt="Logo" width="100%">
            <div id="menu" style="display: none;">
                <h1>BackEnd</h1>
                <br/>
                <div>
                    <nav class="vertical-menu">
                        <h3>Users</h3>
                        <ul>
                            <li><a href="../list_users" target="_self">Users List</a></li>
                            <li><a href="../regist_user" target="_self">Register User</a></li>
                            <li><a href="../update_user" target="_self">Update User</a></li>
                            <li><a href="../delete_user" target="_self">Delete User</a></li>
                        </ul>
                        <br/>
                    </nav>
                    <h3>Articles</h3>
                    <nav class="vertical-menu">
                        <ul>
                            <li><a href="" target="_self">Articles List</a></li>
                            <li><a href="../add_articles" target="_self">Add Article</a></li>
                            <li><a href="../search_articles" target="_self">Search Article</a></li>
                            <li><a href="../update_articles" target="_self">Update Article</a></li>
                            <li><a href="../delete_articles" target="_self">Delete Article</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="horizontal-menu">
        <input type="text" class="search-bar" placeholder="Search Articles..." />
        <input class="button-search" type="button" value="">
        
        {% if user.is_authenticated %}
                <div class="user-info">
                    Bem-vindo, {{ user.name }}! <!-- ou qualquer outro campo do utilizador que deseje mostrar -->
                </div>
        {% else %}
            <!-- Se o utilizador não estiver autenticado, mostre os botões Login e Register -->
            <li><a href="{% url 'user_login' %}" target="_self">Login</a></li>
            <li><a href="{% url 'register' %}" target="_self">Register</a></li>
        {% endif %}
    </div>

</div>

<body>
    <div id="table-articles" class="div-content">
        <h1 class="titles">Articles List</h1>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Color</th>
                <th>Instrument</th>
                <th>Qty Stock</th>
                <th>Price</th>
                <th>Img</th>
            </tr>

            {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.color }}</td>
                <td>{{ article.instrument }}</td>
                <td>{{ article.qty_stock }}</td>
                <td>{{ article.price }}</td>
                <td class="table_img"><img src="{{article.image}}" width='100px'></td>
            </tr>
            {% endfor %}
        </table>

        <p>Total of Articles: {{articles|length}}</p>

        <a href=".." target="_self">Back to home</a>
    </div>



    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
