body {
    margin: 0;
    padding: 0;
    background: lightgray;
    margin-top: 140px;
}

p {
    font-family: 'Arial', sans-serif;
    color: darkblue;
    font-size: 1rem;
    font-weight: bold;
}

.container {
    position: static;
    align-items: center;
    float: left;
}

.main {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.vert-menu {
    background: linear-gradient(to bottom, darkblue, darkblue);
    width: 20%; 
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding-right: 5%;
}

.vert-menu img.logo-header {
    width: 80%; 
    padding-top: 18px;
    padding-left: 5%; 
    align-items: center;
    vertical-align: middle;
    margin-left: 5%; 
    margin-bottom: 17.8px;
}

.h3 {
    color: whitesmoke;
    text-align: center;
    justify-content: space-evenly;
    margin: 0;
    padding: 2rem 0;
    font-size: 2rem;
    cursor: pointer;
    width: 20%; 
}

/* Utilizando porcentagens para larguras */
.vertical-menu {
    width: 20%; 
    display: flex;
    align-items: flex-start;
    text-align: center;
    flex-direction: column;
    background-color: darkblue;
    position: relative;
    padding: 0 5%; 
    margin-bottom: 0;
}

.vertical-menu a {
    color: whitesmoke;
    display: block;
    text-decoration: none;
    transition: background-color 0.1s;
    font-size: 1.5rem;
    background-color: darkblue;
}

.vertical-menu a:hover {
    background-color: orange;
    color: darkblue;
}

.vertical-menu h3:hover + .submenu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.vertical-menu .submenu a {
    width: 120%; 
    padding: 0;
    margin: 0;
    background-size: contain;
    vertical-align: middle;
}

.content {
    margin-left: 15%; 
    padding: 2rem;
    background-color: darkblue;
}

.footer {
    text-align: center;
    background: linear-gradient(to bottom, #ffffff, #f9f9f9);
    color: #292929;
    padding: 1rem;
    margin: 0;
    font-size: 1rem;
}

.horizontal-menu {
    background: linear-gradient(to bottom, darkblue, darkblue);
    padding: 2rem 4rem 2rem 2rem;
    align-items: center;
    display: flex;
    width: auto;
    background-color: darkblue;
    list-style: none;
    justify-content: space-between;
}

.horizontal-menu a {
    color: white;
    text-decoration: none;
    font-family: 'Arial', sans-serif; 
    text-align: center;
    vertical-align: middle;
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.horizontal-menu a:hover {
    background-color: orange;
    color: darkblue;
    transition: all 0.3s ease;
}

.search-bar input[type="text"] {
    width: 30%; 
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 1rem 1rem 0;
    outline: none;
    border: 1px solid orange;
    margin-left: 15%; 
    margin-right: -1rem; 
    text-align: center;
}

.export-button-pdf {
    margin-left: 60%; 
    margin-right: 1rem; 
}


