{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/c035f4c5b7.js" crossorigin="anonymous"></script>
    <title>Vai Tudo Abaixo</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <div class="main">
        <div class="container">
            <div class="vert-menu" onmouseover="toggleMenu(event)" onmouseout="toggleMenu(event)">
                <img class="logo-header" src="{% static 'images/VaiTudoAbaixo-LOGO-WHITE.png' %}" alt="Logo" width="100%">
                <div id="menu" style="display: none;">
                    <h1>BackEnd</h1>
                    <br/>
                    <div>
                        <nav class="vertical-menu">
                            <h3>Staff</h3>
                            <ul>
                                <li><a href="" target="_self">Login</a></li>
                                <li><a href="../home/regist_user" target="_self">Register User</a></li>
                            </ul>
                            <br/>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="horizontal-menu">
            <input type="text" class="search-bar" placeholder="Search Articles..." />
            <input class="button-search" type="button" value="">
            <li><a href="" target="_self">Login</a></li>
            <li><a href="../home/regist_user" target="_self">Register</a></li>    
        </div>
    </div>
    <div class="div-content">
        <div>
            <img class="logo-body2" src="{% static 'images/VaiTudoAbaixo-LOGO2.png' %}" alt="Logo" width="20%">
        </div>
        <div class="div-content2">
            <h1>Login</h1>
            {% if error_message %}
                <p style="color: red;">{{ error_message }}</p>
            {% endif %}
            <form method="post" action="{% url 'user_login' %}">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="email" name="email" maxlength="100" size="30" required>
                <br/><br/>

                <label for="password">Password:</label>
                <input type="password" name="password" maxlength="100" size="30" required>
                <br/><br/>
                <input type="submit" value="Login">
            </form>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
